.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #0F172B;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    border-bottom: none !important;
}

.aula-virtual-titulo {
    color: #FF0033;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    margin: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active{
    background-color: #E7000B;
    color: #FFFFFF;
}

.sidebar-profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    border-top: 1px solid #30363d;
    margin-left: 10px;
}

.profile-avatar {
    background-color: #e9a8a9;
    color: #DA292E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    flex-shrink: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.profile-name {
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
}

.profile-role {
    font-size: 11px;
    color: #8b949e;
}

#main-content{
    height: 100%;
    margin-left: 200px;
    padding: 0px;
}

.dashboard-card {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: #fff;
    transition: .2s;
}

.dashboard-card:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

.dashboard-card .title {
    font-size: 15px;
    color: #4A5565;
}

.dashboard-card .value {
    font-size: 32px;
    font-weight: 600;
    margin-top: 6px;
    color: #0F172B;
}

.dashboard-card .icon {
    font-size: 28px;
    color: #4A5565;
}


@media (max-width: 600px){
    .sidebar{
        width: 60px;
        transition: width 0.3s ease;
    }
    .sidebar .description{
        display: none;
    }
    .sidebar .nav-link{
        justify-content: center;
        padding: 10px 0;
        border-radius: 50%;
    }
    #main-content{
        margin-left: 60px;
    }
    .sidebar .profile-info {
        display: none;
    }
    .sidebar .sidebar-profile {
        justify-content: center;
        border-top: none;
    }
}